.component-2{
    width: 100%;
    height: 980px;
    background: #999999;
}

.component-2 .container{
    padding: 0 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(26, 28, 39, 0.7);
}

.component-2 .text{
    margin: 0;
    text-align: center;
}

.component-2 .text span{
    color: #03FBCA;
}
.component-2 .text p{
    color: white;
    margin: 0;
}
.component-2 .text p:first-child{
    font-weight: 900;
    font-size: 90px;
}
.component-2 .text p:last-child{
    font-size: 24px;
    letter-spacing: 1px;
}

.component-2 .arrows{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 120px;
}

.component-2 .arrows i{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #03FBCA;
    font-size: 24px;
    color: #2C3E50;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.component-2 img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    bottom: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 1280px) {
    .component-2{
        height: 880px;
    }
    .component-2 .text p:first-child{
        font-weight: 900;
        font-size: 80px;
    }
    .component-2 .text p:last-child{
        font-size: 20px;
    }

    .component-2 .arrows i{
        font-size: 22px;
        width: 40px;
        height: 40px;
    }

}

@media only screen and (max-width: 1025px) {
    .component-2{
        height: 780px;
    }
    .component-2 .text p:first-child{
        font-weight: 900;
        font-size: 60px;
    }
    .component-2 .text p:last-child{
        font-size: 15px;
    }
    .component-2 .arrows i{
        font-size: 20px;
        width: 30px;
        height: 30px;
    }

}

@media only screen and (max-width: 768px) {
    .component-2{
        height: 720px;
    }
    .component-2 .text p:first-child{
        font-weight: 900;
        font-size: 30px;
    }
    .component-2 .text p:last-child{
        font-size: 14px;
        letter-spacing: 0;
    }
    .component-2 .arrows i{
        font-size: 19px;
        width: 25px;
        height: 25px;
    }
    .component-2 .container{
        padding: 30px;
    }
}
