.component-10{
    width: 100%;
    height: 710px;
    background: #1A1C27;
}

.component-10 .head{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.component-10 .green{
    color: #1ABC9C;
    cursor: pointer;
}

.component-10 .box{
    width: 50px;
    height: 50px;
    background: #959595;
    margin-top: 5px;
}

.component-10 .box span{
    width: 100%;
    height: 100%;
    color: #959595;
    font-size: 30px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.component-10 .box span:hover{
    color: white;
}

.component-10 .logo{
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    width: 155px;
    margin-top: 0;
}

.component-10 .logo p{
    margin: 0;
}

/* .component-10 .container{
    color: white;
    display: flex;
    gap: 2%;
    justify-content: center;
    padding-top: 80px;
} */

.component-10 .container{
    padding-top: 80px;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 2%;
}

.component-10 .item{
    width: 270px;
}

.component-10 .logo{
    font-size: 35px;
}

.component-10 .logo img{
    width: 40px;
    height: 45px;
}


.component-10 .logo span{
    font-weight: 900;
}

.component-10 .item:first-child p:not(.logo p){
    font-size: 14px;
    color: #758590;
    line-height: 24px;
    margin-top: 25px;
}

.component-10 .flex-container{
    display: flex;
    align-items: flex-start;
    gap: 8%;
}

.component-10 .flex-container div:nth-child(2){
    width: 80%;
}

.component-10 .flex-container div:nth-child(2) p{
    margin-top: 0;
    margin-bottom: 5px;
}

.component-10 .flex-container div:nth-child(2) p:first-child{
    font-size: 16px;
    font-weight: 700;
    color: #A1B1BC;
}

.component-10 .flex-container div:nth-child(2) p:nth-child(2){
    font-size: 14px;
    color: #758590;
    line-height: 24px;
}

.component-10 .flex-container div:nth-child(2) p:nth-child(3){
    font-size: 13px;
    color: #A1B1BC;
}

.component-10 .flex-container:nth-last-of-type(2){
    border-top: 1px solid #243240;
    border-bottom: 1px solid #243240;
    padding: 10px 0;
    margin: 10px 0;
}

.component-10 .flex-container .box:hover{
    cursor: pointer;
    background: #1ABC9C;
}

.component-10 .flex-container2{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #A1B1BC;
}

.component-10 .flex-container2 p{
    margin: 0;
}

.component-10 .flex-container2 p:hover{
    background: #1ABC9C;
    color: white;
    cursor: pointer;
}

.component-10 .flex-container2:nth-of-type(1) p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 8px;
    border: 1px solid #A1B1BC;
}

.component-10 .flex-container2:nth-of-type(2) p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    border: 1px solid #A1B1BC;
}

.component-10 .container > div:nth-child(3) > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.component-10 ul{
    list-style-type: square;
    list-style-position: inside;
    padding-left: 0;
    font-size: 14px;
}

.component-10 ul .a{
    color: #1ABC9C;
}

.component-10 ul .b{
    color: #A1B1BC;
}

.component-10 ul .a:hover{
    color: white;
    cursor: pointer;
}

.component-10 ul .b:hover{
    color: #1ABC9C;
    cursor: pointer;
}

.component-10 li{
    border-bottom: 1px solid #353535;
    padding: 10px 0;
}

.component-10 .links{
    font-size: 18px;
    font-weight: 700px;
    margin-top: 45px;
}

.component-10 .item:last-child > div p:first-child{
    font-size: 16px;
    font-weight: 700;
    color: #A1B1BC;
}

.component-10 .item:last-child > div p:not(:first-child){
    font-size: 14px;
    color: #758590;
}

.component-10 .item:last-child > div p:last-child{
    border-bottom: 1px solid #243240;
    padding-bottom: 20px;
}

.component-10 .item:last-child > div:last-child p:nth-last-of-type(2){
    margin-bottom: 5px;
}

.component-10 .item:last-child > div:last-child p:last-child{
    border: none;
    margin-top: 0;
    padding: 0;
}

@media only screen and (max-width: 1280px) {
    .component-10{
        height: auto;
    }
    .component-10 .container{
        grid-template-columns: auto auto auto;
    }
    .component-10 .container > div:first-child{
        grid-column: 2/3;
        grid-row: 2/3;
    }

}

@media only screen and (max-width: 1025px) {
    .component-10 .container{
        grid-template-columns: auto auto;
        gap: 0;
        column-gap: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .component-10 .container{
        grid-template-columns: auto;
        gap: 0;
    }
    .component-10 .container > div{
        margin: auto;
        width: 95%;
        line-height: 15px;
    }
    .component-10 .container > div:not(:first-child){
        margin-top: 40px;
    }
    .component-10 .container > div:first-child{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .component-10 .item:first-child p:not(.logo p){
        margin-top: 5px;
    }
}