.component-5{
    display: flex;
    justify-content: center;
    position: relative;
    height: 845px;
}

.component-5 div:first-child{
    width: 30%;
    margin-top: 70px;
    margin-right: 40px;
    height: 100%;
}

.component-5 div:last-child{
    position: relative;
    width: 539px;
}

.component-5 img{
    position: absolute;
    width: 100%;
    top: 70px;
    left: 40px;
    z-index: -1;
}

.component-5 .head{
    font-size: 30px;
    font-weight: 900;
    color: #2C3E50;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.component-5 p{
    font-size: 14px;
    color: #A1B1BC;
    line-height: 24px;
    letter-spacing: 1px;
}

.component-5 button{
    width: 181px;
    height: 40px;
    border: 2px solid #2C3E50;
    border-radius: 5px;
    background: transparent;
    color: #2C3E50;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
    letter-spacing: 1px;
}

.component-5 .text{
    margin-bottom: 25px;
}


.component-5 i{
    font-size: 16px;
    color: #2C3E50;
    margin-right: 20px;
    margin-bottom: 6px;
}

.logos{
    margin-top: 30px;
    width: 400px;
}

.logos p{
    border-bottom: 1px solid #ECF0F1;
    margin-bottom: 0px;
}


@media only screen and (max-width: 1480px) {
    .component-5 div:first-child{
        width: 35%;
    }
}

@media only screen and (max-width: 1280px) {
    .component-5{
        height: auto;
    }
    .component-5 div:first-child{
        width: 50%;
        margin-top: 0;
    }
    .component-5 p{
        line-height: 20px;
        letter-spacing: 1px;
    }
    .component-5 .text{
        margin-bottom: 12px;
    }
    .component-5 img{
        position: absolute;
        width: 80%;
        top: 70px;
        z-index: -1;
    }
    .component-5 button{
        margin-bottom: 40px;
    }
}


@media only screen and (max-width: 1025px) {
    .component-5{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .component-5 div:last-child{
        width: 100%;
        position: absolute;
        height: 500px;
        bottom: 0;
    }
    .component-5 div:first-child{
        width: 95%;
        margin-right: 0;
    }
    .component-5 p{
        color: #1d2a36;
    }
    .component-5 div:last-child{
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        z-index: -1;
    }
    .component-5 img{
        filter: blur(4px);
    }
}

@media only screen and (max-width: 768px){
    .component-5 div:first-child{
        margin: auto;
    }
    .logos{
        width: 100%;
    }
    .component-5 .head{
        font-size: 25px;
    }
}

@media only screen and (max-width: 480px){
    .component-5 .head{
        font-size: 20px;
    }
}