.component-7{
    @include flex(row, center, center);
    margin-top: 70px;
    gap: 20px;

    .head{
        font-size: 30px;
        color: $-dark;
        font-weight: 900;
        letter-spacing: 3px;
    }

    & > div:last-child > p:first-child{
        margin-bottom: 20px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto 40px;
        grid-template-rows: 40px auto 40px;
        width: 100%;
        grid-row-gap: 5px;

        div{
            
            border: 1px solid $-white-border;
        }

        div:nth-of-type(3){
            grid-column: span 2;
        }

        div:not(div:nth-of-type(3), .grid-logo){
            color: $-dark;
            font-size: 14px;
            font-weight: 900;
            padding-left: 10px;
            letter-spacing: 2px;
        }

        .grid-2{
            display: grid;
            grid-template-columns: auto 40px;
            grid-template-rows: 40px 120px;
            border: none;

            & div:nth-of-type(3){
                @include flex(row, center, space-between);
                border-top: none;
                padding-right: 10%;

                div{
                    width: 30%;
                    height: 80px;
                    margin: 0 10px;
                    background: #CCCCCC;
                    border: none;

                }
            }
        }

        .grid-logo{
            font-size: 16px;
            font-family: Arial;
            padding-left: 10px;
            color: $-grey;
            border-left: none;
        }
    }

    .grid-2 div:nth-of-type(3) p{
        font-size: 14px;
        color: $-grey-text;
        width: 358px;
        line-height: 24px;
    }

    .grid-container2{
        width: 100%;
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;

        div{
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
            margin-bottom: 10px;

            .first{
                grid-column: span 2;
                width: 100%;
                height: 20px;
                border: 1px solid $-white-border;
                background: $-white-background;
                border-radius: 8px;
                padding: 3px;
            }

            .second{
                height: 100%;
                background: $-green;
                border-radius: 10px;
            }

            p:nth-of-type(1){
                font-weight: 900;
                font-size: 14px;
                color: $-dark;
                margin-bottom: 5px;
                letter-spacing: 1px;
            }

            p:nth-of-type(2){
                font-family: Arial;
                font-size: 14px;
                text-align: end;
                line-height: 20px;
                margin-bottom: 5px;
            }
        }
    }

    & > div{
        width: 570px;
    }

    .bg{
        background: $-white-background;
    }

    .green{
        color: $-green;
    }

    @media only screen and (max-width: 1280px) {
        & > div{
            width: 470px;
        }
    }
    
    @media only screen and (max-width: 1025px) {
        &{
            @include flex(column, center, center);
        }
    }
    
    @media only screen and (max-width: 768px) {
        & > div{
            width: 90%;
        }
    }
    
    
    @media only screen and (max-width: 480px) {
        .grid-container p{
            font-size: 10px;
        }
        .grid-2 div:nth-of-type(3) p{
            width: 80%;
            line-height: 15px;
        }
    }
}