$-white: white;
$-grey: #999999;
$-grey-text: #A1B1BC;
$-nav-dark: rgba(34, 37, 51, 0.9);
$-comp-2-dark: rgba(26, 28, 39, 0.7);
$-dark: #2C3E50;
$-dark-text: #758590;
$-black: #222533;
$-green: #1ABC9C;
$-comp-2-green: #03FBCA;
$-purple: #4E459A;
$-cyan: #63D8FF;
$-cyan-dark: #21C2F8;
$-red: #E36968;
