.component-10{
    width: 100%;
    height: 710px;
    background: #1A1C27;

    .head{
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    .green{
        color: $-green;
        cursor: pointer;
    }

    .box{
        width: 50px;
        height: 50px;
        background: $-grey;
        margin-top: 5px;

        span{
            width: 100%;
            height: 100%;
            color: $-grey;
            font-size: 30px;
            font-weight: 300;
            @include flex(row, center, center);

            &:hover{
                color: $-white;
            }
        }
    }

    .logo{
        @include flex(row, center, space-between);
        height: 40px;
        width: 155px;
        margin-top: 0;
        font-size: 35px;

        span{
            font-weight: 900;
        }

        p{
            margin: 0;
        }

        img{
            width: 40px;
            height: 45px;
        }
    }

    .container{
        padding-top: 80px;
        color: $-white;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        gap: 2%;
    }

    .container > div:nth-child(3) > div{
        @include flex(column, flex-start, center);
        gap: 10px;
    }

    .item{
        width: 270px;

        &:first-child p:not(.logo p){
            font-size: 14px;
            color: $-dark-text;
            line-height: 24px;
            margin-top: 25px;
        }

        &:last-child > div p:first-child{
            font-size: 16px;
            font-weight: 700;
            color: $-grey-text;
        }

        &:last-child > div p:not(:first-child){
            font-size: 14px;
            color: $-dark-text;
        }

        &:last-child > div p:last-child{
            border-bottom: 1px solid $-dark-border;
            padding-bottom: 20px;
        }

        &:last-child > div:last-child p:nth-last-of-type(2){
            margin-bottom: 5px;
        }

        &:last-child > div:last-child p:last-child{
            border: none;
            margin-top: 0;
            padding: 0;
        }
    }

    .flex-container{
        @include flex(row, flex-start, center);
        gap: 8%;

        &:nth-last-of-type(2){
            border-top: 1px solid $-dark-border;
            border-bottom: 1px solid $-dark-border;
            padding: 10px 0;
            margin: 10px 0;
        }

        div:nth-child(2){
            width: 80%;

            p{
                margin-top: 0;
                margin-bottom: 5px;

                &:first-child{
                    font-size: 16px;
                    font-weight: 700;
                    color: $-grey-text;
                }

                &:nth-child(2){
                    font-size: 14px;
                    color: $-dark-text;
                    line-height: 24px;
                }

                &:nth-child(3){
                    font-size: 13px;
                    color: $-grey-text;
                }
            }
        }

        .box:hover{
            cursor: pointer;
            background: $-green;
        }
    }

    .flex-container2{
        @include flex(row, center, center);
        gap: 10px;
        font-size: 15px;
        color: $-grey-text;

        &:nth-of-type(1) p{
            @include flex(row, center, center);
            padding: 10px 8px;
            border: 1px solid $-dark-border;
        }

        &:nth-of-type(2) p{
            @include flex(row, center, center);
            padding: 10px 14px;
            border: 1px solid $-dark-border;
        }

        p{
            margin: 0;

            &:hover{
                background: $-green;
                color: $-white;
                cursor: pointer;
            }
        }
    }

    ul{
        list-style-type: square;
        list-style-position: inside;
        padding-left: 0;
        font-size: 14px;

        .a{
            color: $-green;

            &:hover{
                color: $-white;
                cursor: pointer;
            }
        }

        .b{
            color: $-grey-text;

            &:hover{
                color: $-green;
                cursor: pointer;
            }
        }

        li{
            border-bottom: 1px solid $-dark-border;
            padding: 10px 0;
        }
    }

    .links{
        font-size: 18px;
        font-weight: 700px;
        margin-top: 45px;
    }

    @media only screen and (max-width: 1280px) {
        &{
            height: auto;
        }
        .container{
            grid-template-columns: auto auto auto;
        }
        .container > div:first-child{
            grid-column: 2/3;
            grid-row: 2/3;
        }
    
    }
    
    @media only screen and (max-width: 1025px) {
        .container{
            grid-template-columns: auto auto;
            gap: 0;
            column-gap: 5%;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .container{
            grid-template-columns: auto;
            gap: 0;
        }
        .container > div{
            margin: auto;
            width: 95%;
            line-height: 15px;
        }
        .container > div:not(:first-child){
            margin-top: 40px;
        }
        .container > div:first-child{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .component-10 .item:first-child p:not(.logo p){
            margin-top: 5px;
        }
    }
}